In [1]:
import pandas as pd
import numpy as np

In [33]:
screened_path = ('./energy.firms.crsp.screened.xlsx')
full_list_path = ('./energy.firms.returns.static.xlsx')

In [34]:
full_list_df = pd.read_excel(full_list_path, sheet_name='energy.firms.returns.static',
)

In [35]:
full_list_df.columns

Index(['TICKER', 'AMID', 'AM', 'ATO', 'BPT', 'BHGE', 'BKH', 'BSM', 'BWP',
       'CNXM', 'WHD', 'CNP', 'CEPU', 'CQH', 'CPK', 'SNP', 'CLNE', 'CRT', 'DCP',
       'DM', 'DMLP', 'DRQ', 'EQGP', 'EQM', 'ETE', 'ETP', 'ENLC', 'ENLK', 'FET',
       'HMLP', 'HEP', 'KMI', 'MPLX', 'MARPS', 'MMLP', 'NOV', 'NJR', 'NEXT',
       'NI', 'NBLX', 'NRT', 'NWN', 'OIS', 'OGS', 'PBFX', 'PBT', 'PTR', 'RGCO',
       'SBR', 'SJT', 'SRE', 'SJI', 'SXE', 'SWX', 'SEP', 'SR', 'SRLP', 'SMLP',
       'SDPI', 'TCP', 'TRGP', 'TRP', 'VVC', 'WGL', 'WGP', 'WES', 'WMB'],
      dtype='object')

In [36]:
if not full_list_df.empty:
    Header = full_list_df.head(1)

In [73]:
#Removing the first two rows as they just have header info
full_list_df = full_list_df.iloc[2:]

In [85]:
clean_df = pd.DataFrame()
clean_df['QuoteDate'] = pd.to_datetime(full_list_df['TICKER'])

In [90]:
for Name in Header:
    if Name != 'TICKER':
        clean_df[Name] = full_list_df[Name]

In [92]:
clean_df.tail()

,QuoteDate,AMID,AM,ATO,BPT,BHGE,BKH,BSM,BWP,CNXM,...,SMLP,SDPI,TCP,TRGP,TRP,VVC,WGL,WGP,WES,WMB
373,2018-09-20,0,0.296831,0.647175,-0.304872,-1.24734,0.995195,-0.16278,NaN,0.050485,...,0.31153,4.697978,-2.146041,-1.321429,-0.927252,0.098133,NaN,1.767445,1.618266,0.212836
374,2018-09-21,0.833333,-1.183826,0.750196,1.22323,1.355517,0.492692,0,NaN,-1.362264,...,-0.310564,0.961542,-3.289682,0.126684,-1.607865,0.210083,NaN,-1.828146,0,-1.309735
375,2018-09-24,-3.305787,-0.698835,-0.11701,0.453174,-0.182372,-0.929844,0,NaN,0.358069,...,-6.230521,5.714285,-1.480311,0.650632,0.02439,-0.055909,NaN,-3.910619,-3.206807,-1.147777
376,2018-09-25,-0.854695,-2.144772,-0.425988,2.406013,1.918399,-1.842999,0,NaN,-1.630998,...,-0.996679,-4.804802,-2.046043,0.772131,0.268233,-0.307649,NaN,-2.454776,-2.096009,-1.08853
377,2018-09-26,1.724136,-2.773976,-0.930482,-0.146842,1.045704,-1.408207,-0.543481,NaN,-0.207251,...,-2.684563,3.867507,-1.077026,-1.300782,-1.45914,0.014031,NaN,-0.629139,-1.012886,-0.586939

In [95]:
start_date = '2017-03-01'
end_date = '2018-04-01'
clean_df = clean_df[(clean_df['QuoteDate'] >= start_date) & (clean_df['QuoteDate'] <= end_date)]

In [97]:
clean_df.tail()

full_list_df = clean_df

In [98]:
full_list_df.head(1)

,QuoteDate,AMID,AM,ATO,BPT,BHGE,BKH,BSM,BWP,CNXM,...,SMLP,SDPI,TCP,TRGP,TRP,VVC,WGL,WGP,WES,WMB
4,2017-04-04,0,1.021326,0.950575,1.199043,0.770652,0.96823,0,0.217032,-0.768906,...,-0.617284,-0.568181,0.285387,-0.016814,0.567186,-0.068295,0.096893,0.585687,0.478947,0.268102

In [99]:
Header = full_list_df.head(1)

In [100]:
full_list_df.astype(bool).sum(axis=0)

QuoteDate    249
AMID         231
AM           245
ATO          247
BPT          238
            ...
VVC          248
WGL          243
WGP          248
WES          246
WMB          246
Length: 67, dtype: int64

In [101]:
loop_counter = 0
for name in Header:
    print (name)
    loop_counter += 1

    if loop_counter >10:
        break

QuoteDate
AMID
AM
ATO
BPT
BHGE
BKH
BSM
BWP
CNXM
WHD

In [102]:
full_list_df['AMID'].shape

(249,)

In [111]:
full_list_df.shape

(249, 67)

In [112]:
def calculate_standard_deviation(stock1='AMID', stock2='AM'):
    stock1_values = full_list_df[stock1].to_numpy()
    stock2_values = full_list_df[stock2].to_numpy()

    stock1_values = stock1_values[2:]
    stock2_values = stock2_values[2:]

    no_of_values = stock1_values.size
    
    calculation_df = pd.DataFrame()

    calculation_df[stock1]= stock1_values
    calculation_df[stock2]= stock2_values

    calculation_df['difference'] = calculation_df[stock1] - calculation_df[stock2]
    calculation_df['squared_difference'] = calculation_df['difference'] * calculation_df['difference']
    sum_of_squared_deviations = calculation_df['squared_difference'].sum()
    standard_deviation = ( sum_of_squared_deviations / no_of_values) ** 0.5
    #print ( stock1, stock2, standard_deviation)
    return standard_deviation

In [113]:
stock1='AMID'

previous_standard_deviation = 10000
lowest_standard_deviation = 10000
lowest_pair = ''

loop_counter = 0
for name in Header:
    if name != stock1 and name != 'QuoteDate':
        stock2 = name
        standard_deviation = calculate_standard_deviation(stock1, stock2)
        if standard_deviation < lowest_standard_deviation:
            lowest_standard_deviation = standard_deviation
            lowest_pair = stock2

print (stock1, lowest_pair, lowest_standard_deviation)

AMID WHD 1.1234077793909023

In [137]:
def iterate_through_list_of_stocks(list_of_stocks = Header):

    with open('./all_pairs.csv', 'w') as file:    
        content_to_write = 'stock1' + ',' + 'stock2' + ',' + 'stdev' + '\n'
        file.write(content_to_write)
        
        for name in Header:
            if name != 'QuoteDate':
                stock1 = name

                previous_standard_deviation = 10000
                lowest_standard_deviation = 10000
                lowest_pair = ''

                loop_counter = 0
                for name in Header:
                    if name != stock1 and name != 'QuoteDate':
                        stock2 = name
                        standard_deviation = calculate_standard_deviation(stock1, stock2)
                        if standard_deviation < lowest_standard_deviation:
                            lowest_standard_deviation = standard_deviation
                            lowest_pair = stock2

                #print (stock1, lowest_pair, lowest_standard_deviation, sep =',')
                content_to_write = stock1 + ',' + lowest_pair + ',' + str(lowest_standard_deviation) + '\n'
                file.write(content_to_write)

In [138]:
Header = full_list_df.head(1)

iterate_through_list_of_stocks(Header)

In [139]:
df = pd.read_csv('./all_pairs.csv')

In [140]:
df.head()

  stock1 stock2     stdev
0   AMID    WHD  1.123408
1     AM    WHD  0.943845
2    ATO    OGS  0.543925
3    BPT   CEPU  0.898708
4   BHGE    WHD  0.991785

In [141]:
#df.columns

sorted_df_age_asc = df.sort_values(by='stdev')
# Not working yet, need to figure out

In [142]:
sorted_df_age_asc

   stock1 stock2     stdev
2     ATO    OGS  0.543925
42    OGS    ATO  0.543925
37     NI    ATO  0.646956
40    NWN    OGS  0.667405
10    CNP     NI  0.677046
..    ...    ...       ...
32  MARPS   CEPU  1.497720
57   SDPI    WHD  1.697257
27    FET    WHD  1.745708
18     DM   CEPU  1.747261
36   NEXT    WHD  2.630867

[66 rows x 3 columns]