In [1]:
import pandas as pd
import numpy as np

In [2]:
screened_path = ('./energy.firms.crsp.screened.xlsx')
full_list_path = ('./energy.firms.returns.static.xlsx')

In [3]:
full_list_df = pd.read_excel(full_list_path, sheet_name='energy.firms.returns.static')

In [4]:
#full_list_df.head()

In [5]:
full_list_df.head(1)

,TICKER,AMID,AM,ATO,BPT,BHGE,BKH,BSM,BWP,CNXM,...,SMLP,SDPI,TCP,TRGP,TRP,VVC,WGL,WGP,WES,WMB
0,COMPANY,"American Midstream Partners, LP",Antero Midstream Partners LP,Atmos Energy Corporation,BP Prudhoe Bay Royalty Trust,"Baker Hughes, a GE Company Class A",Black Hills Corporation,Black Stone Minerals LP,"Boardwalk Pipeline Partners, LP",CNX Midstream Partners LP,...,Summit Midstream Partners LP,"Superior Drilling Products, Inc.","TC PipeLines, LP",Targa Resources Corp.,TransCanada Corporation,Vectren Corporation,"WGL Holdings, Inc.",Western Gas Equity Partners LP,"Western Gas Partners, LP","Williams Companies, Inc."

In [6]:
Header = full_list_df.head(1)

In [7]:
full_list_df.astype(bool).sum(axis=0)

TICKER    378
AMID      350
AM        373
ATO       374
BPT       364
         ...
VVC       375
WGL       369
WGP       375
WES       374
WMB       372
Length: 67, dtype: int64

In [8]:
loop_counter = 0
for name in Header:
    print (name)
    loop_counter += 1

    if loop_counter >10:
        break

TICKER
AMID
AM
ATO
BPT
BHGE
BKH
BSM
BWP
CNXM
WHD

In [9]:
full_list_df['AMID'].shape

(378,)

In [11]:
full_list_df.shape

(378, 67)

In [16]:
def calculate_standard_deviation(stock1='AMID', stock2='AM'):
    stock1_values = full_list_df[stock1].to_numpy()
    stock2_values = full_list_df[stock2].to_numpy()

    stock1_values = stock1_values[2:]
    stock2_values = stock2_values[2:]

    no_of_values = stock1_values.size
    
    calculation_df = pd.DataFrame()

    calculation_df[stock1]= stock1_values
    calculation_df[stock2]= stock2_values

    calculation_df['difference'] = calculation_df[stock1] - calculation_df[stock2]
    calculation_df['squared_difference'] = calculation_df['difference'] * calculation_df['difference']
    sum_of_squared_deviations = calculation_df['squared_difference'].sum()
    standard_deviation = ( sum_of_squared_deviations / no_of_values) ** 0.5
    #print ( stock1, stock2, standard_deviation)
    return standard_deviation

In [17]:
stock1='AMID'

previous_standard_deviation = 10000
lowest_standard_deviation = 10000
lowest_pair = ''

loop_counter = 0
for name in Header:
    if name != stock1 and name != 'TICKER':
        stock2 = name
        standard_deviation = calculate_standard_deviation(stock1, stock2)
        if standard_deviation < lowest_standard_deviation:
            lowest_standard_deviation = standard_deviation
            lowest_pair = stock2

print (stock1, lowest_pair, lowest_standard_deviation)

AMID BWP 2.299717714654306

In [18]:
def iterate_through_list_of_stocks(list_of_stocks = Header):
    for name in Header:
        if name != 'TICKER':
            stock1 = name

            previous_standard_deviation = 10000
            lowest_standard_deviation = 10000
            lowest_pair = ''

            loop_counter = 0
            for name in Header:
                if name != stock1 and name != 'TICKER':
                    stock2 = name
                    standard_deviation = calculate_standard_deviation(stock1, stock2)
                    if standard_deviation < lowest_standard_deviation:
                        lowest_standard_deviation = standard_deviation
                        lowest_pair = stock2

            print (stock1, lowest_pair, lowest_standard_deviation, sep =',')

In [19]:
Header = full_list_df.head(1)

iterate_through_list_of_stocks(Header)

AMID,BWP,2.299717714654306
AM,WES,1.3865221824466778
ATO,OGS,0.5689394132650739
BPT,WHD,1.9701417770926088
BHGE,WHD,1.6036943090531695
BKH,ATO,0.8703641887805287
BSM,WGL,1.1602694612910742
BWP,WMB,1.485535202284274
CNXM,WHD,1.7631212220922872
WHD,WGL,1.2395397790898148
CNP,ATO,0.7595022093550358
CEPU,WGL,1.6001063470104937
CQH,WGL,1.187196538957401
CPK,OGS,1.0407347837167393
SNP,PTR,1.0230352143416637
CLNE,WHD,2.8729893584961426
CRT,WGL,1.2133529839495543
DCP,WES,1.206624531716504
DM,WGL,1.9468416482525348
DMLP,WGL,1.4104787975761195
DRQ,WHD,1.6305401907056614
EQGP,EQM,1.5938208176408193
EQM,MPLX,1.3540077068745524
ETE,WMB,1.3732036699065728
ETP,WES,1.4174004400700142
ENLC,ENLK,1.3009604760314941
ENLK,ENLC,1.3009604760314941
FET,WHD,2.215699994199436
HMLP,WGL,1.2103804728986602
HEP,WGL,1.3323362821512212
KMI,WMB,1.0831434740529202
MPLX,WES,1.1898321686369941
MARPS,WHD,2.8211882624736693
MMLP,WHD,1.7671166634854532
NOV,WGL,1.659559936154278
NJR,OGS,0.7517203672496943
NEXT,WHD,3.236118339101328
NI,WGL,0.8953683610737989
NBLX,WGL,1.7581791793369037
NRT,WHD,1.8519078340307429
NWN,OGS,0.7004633056233612
OIS,NOV,1.773858254158335
OGS,ATO,0.5689394132650739
PBFX,WGL,1.1239605861538626
PBT,WGL,1.4756818517792833
PTR,SNP,1.0230352143416637
RGCO,WHD,1.8315589471339973
SBR,WGL,1.305704854083534
SJT,WHD,1.9001473516995602
SRE,ATO,1.165225107697774
SJI,NJR,0.9145552675481917
SXE,BWP,2.990343734379278
SWX,OGS,0.9072230398061003
SEP,WMB,1.4331552966654235
SR,ATO,0.7120943742304682
SRLP,WGL,1.6185087765591148
SMLP,WMB,1.715183060023145
SDPI,WHD,2.8488094928278733
TCP,SEP,2.3605221274530144
TRGP,WMB,1.380841208477623
TRP,WGL,1.0799582373689398
VVC,ATO,0.907531881762001
WGL,ATO,0.7503665869093104
WGP,WES,1.0820776029718298
WES,WGP,1.0820776029718298
WMB,KMI,1.0831434740529202

In [27]:
df = pd.read_csv('./all_pairs.csv')

In [28]:
df.head()

  stock1 stock2     stdev
0   AMID    BWP  2.299718
1     AM    WES  1.386522
2    ATO    OGS  0.568939
3    BPT    WHD  1.970142
4   BHGE    WHD  1.603694

In [26]:
df.columns

#sorted_df_age_asc = df.sort_values(by='stdev')
# Not working yet, need to figure out

Index(['stock1', ' stock2', ' stdev'], dtype='object')

In [ ]:
#stock1	 stock2	 stdev
#ATO	OGS	0.568939413
#OGS	ATO	0.568939413
#NWN	OGS	0.700463306
#SR	ATO	0.712094374
#WGL	ATO	0.750366587