In [267]:
import pandas as pd
import numpy as np

In [245]:
screened_path = ('./energy.firms.crsp.screened.xlsx')
full_list_path = ('./energy.firms.returns.static.xlsx')

In [246]:
full_list_df = pd.read_excel(full_list_path, sheet_name='energy.firms.returns.static',
)

In [247]:
full_list_df.shape

(378, 67)

In [248]:
if not full_list_df.empty:
    Header = full_list_df.head(1)

In [249]:
#Removing the first two rows as they just have header info
full_list_df = full_list_df.iloc[2:]

In [250]:
clean_df = pd.DataFrame()
clean_df['QuoteDate'] = pd.to_datetime(full_list_df['TICKER'])

In [251]:
for Name in Header:
    if Name != 'TICKER':
        clean_df[Name] = full_list_df[Name]

In [252]:
clean_df.tail()

,QuoteDate,AMID,AM,ATO,BPT,BHGE,BKH,BSM,BWP,CNXM,...,SMLP,SDPI,TCP,TRGP,TRP,VVC,WGL,WGP,WES,WMB
373,2018-09-20,0,0.296831,0.647175,-0.304872,-1.24734,0.995195,-0.16278,NaN,0.050485,...,0.31153,4.697978,-2.146041,-1.321429,-0.927252,0.098133,NaN,1.767445,1.618266,0.212836
374,2018-09-21,0.833333,-1.183826,0.750196,1.22323,1.355517,0.492692,0,NaN,-1.362264,...,-0.310564,0.961542,-3.289682,0.126684,-1.607865,0.210083,NaN,-1.828146,0,-1.309735
375,2018-09-24,-3.305787,-0.698835,-0.11701,0.453174,-0.182372,-0.929844,0,NaN,0.358069,...,-6.230521,5.714285,-1.480311,0.650632,0.02439,-0.055909,NaN,-3.910619,-3.206807,-1.147777
376,2018-09-25,-0.854695,-2.144772,-0.425988,2.406013,1.918399,-1.842999,0,NaN,-1.630998,...,-0.996679,-4.804802,-2.046043,0.772131,0.268233,-0.307649,NaN,-2.454776,-2.096009,-1.08853
377,2018-09-26,1.724136,-2.773976,-0.930482,-0.146842,1.045704,-1.408207,-0.543481,NaN,-0.207251,...,-2.684563,3.867507,-1.077026,-1.300782,-1.45914,0.014031,NaN,-0.629139,-1.012886,-0.586939

In [253]:
#delete the 4 stocks that do not have full data for all the days in the range Mar 2017 to 2018

clean_df = clean_df.drop('BWP', axis=1)
clean_df = clean_df.drop('WHD', axis=1)
clean_df = clean_df.drop('CEPU', axis=1)
clean_df = clean_df.drop('WGL', axis=1)

clean_df.shape

(376, 63)

In [254]:
clean_df = clean_df.dropna()

performance_df = clean_df

In [226]:
#only use the date range between Mar of 2017 and 2018 for identifying the best stock pairs

start_date = '2017-03-01'
end_date = '2018-04-01'
clean_df = clean_df[(clean_df['QuoteDate'] >= start_date) & (clean_df['QuoteDate'] <= end_date)]

In [227]:
clean_df.tail()

analyze_df = clean_df

In [228]:
analyze_df

,QuoteDate,AMID,AM,ATO,BPT,BHGE,BKH,BSM,CNXM,CNP,...,SRLP,SMLP,SDPI,TCP,TRGP,TRP,VVC,WGP,WES,WMB
2,2017-03-31,2.061856,0.545788,-0.01266,2.030456,0.85988,1.403511,2.165842,5.684876,0.218105,...,0.370371,4.121482,-2.163279,1.118648,1.422286,0.435257,0.68717,1.698649,0.951898,1.823819
3,2017-04-03,0.673401,0.392044,-0.113934,3.731346,-0.217319,-0.556648,0.787401,-0.847101,-0.072545,...,-1.291513,1.249993,-2.222222,-0.150853,-0.684476,-0.671726,-0.068247,0,0.165427,0.844884
4,2017-04-04,0,1.021326,0.950575,1.199043,0.770652,0.96823,0,-0.768906,0.798547,...,-2.056074,-0.617284,-0.568181,0.285387,-0.016814,0.567186,-0.068295,0.585687,0.478947,0.268102
5,2017-04-05,-1.337791,-0.208145,0.477087,2.369666,0.349128,1.21367,1.442301,-0.602669,0.252068,...,2.099228,-0.414079,-14.285713,-1.138264,-1.93342,0.173545,0.49547,0.366616,-0.821829,-0.868982
6,2017-04-06,1.016951,0.774729,0.399852,3.00926,0.960898,0.044405,-1.540273,0,0.215518,...,1.121497,0.831604,10.666668,1.303756,1.69723,1.104367,0.272012,-0.107431,1.640701,1.98921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,2018-03-23,-3.791475,-1.027262,-1.404458,2.164507,-1.947618,-1.942295,0.058985,-1.888764,-0.860453,...,0.210094,0,-4.022992,-1.975375,-0.58077,-0.293326,-1.15689,-0.119835,-1.806807,-3.172207
249,2018-03-26,0,0.439119,2.07423,1.059318,2.4315,1.711536,0.471711,-0.641715,1.283014,...,0.419283,-3.249103,2.395213,0.99299,0.367796,-0.759995,1.523173,-0.209957,-0.094366,-0.741023
250,2018-03-27,0.985229,-0.675678,1.76276,-1.467508,-2.373785,1.247871,-2.699536,-2.152848,0.931442,...,0.208759,4.47762,-1.169592,-0.115675,-2.004743,0.6423,0.078964,-1.112109,-2.007079,-1.178789
251,2018-03-28,0.487804,1.920772,0.685668,0.851071,-3.869867,0.765634,-0.361878,0.550056,-0.516796,...,-0.416666,-4.285717,-0.591725,0.318468,-3.783542,0.111437,0.410295,-1.21581,0.048196,-1.471168
252,2018-03-29,4.854369,1.648998,0.645161,0.843883,-1.068753,0.630093,0.181592,0.601745,1.669753,...,-0.2092,4.850745,-1.190478,0.11543,0.594413,2.633548,0.455761,1.907694,2.769744,0.322843

In [229]:
Header = analyze_df.head(1)

In [230]:
analyze_df.astype(bool).sum(axis=0)

QuoteDate    251
AMID         233
AM           247
ATO          249
BPT          240
            ...
TRP          249
VVC          250
WGP          249
WES          248
WMB          248
Length: 63, dtype: int64

In [231]:
analyze_df.shape

(251, 63)

In [232]:
def calculate_standard_deviation(stock1='AMID', stock2='AM'):
    stock1_values = analyze_df[stock1].to_numpy()
    stock2_values = analyze_df[stock2].to_numpy()

    stock1_values = stock1_values[2:]
    stock2_values = stock2_values[2:]

    no_of_values = stock1_values.size
    
    calculation_df = pd.DataFrame()

    calculation_df[stock1]= stock1_values
    calculation_df[stock2]= stock2_values

    calculation_df['difference'] = calculation_df[stock1] - calculation_df[stock2]
    calculation_df['squared_difference'] = calculation_df['difference'] * calculation_df['difference']
    sum_of_squared_deviations = calculation_df['squared_difference'].sum()
    standard_deviation = ( sum_of_squared_deviations / no_of_values) ** 0.5
    #print ( stock1, stock2, standard_deviation)
    return standard_deviation

In [233]:
calculate_standard_deviation('NI', 'ATO')

0.647685142188375

In [234]:
stock1='NI'

previous_standard_deviation = 10000
lowest_standard_deviation = 10000
lowest_pair = ''

loop_counter = 0
for name in Header:
    if name != stock1 and name != 'QuoteDate':
        stock2 = name
        standard_deviation = calculate_standard_deviation(stock1, stock2)
        if standard_deviation < lowest_standard_deviation:
            lowest_standard_deviation = standard_deviation
            lowest_pair = stock2

print (stock1, lowest_pair, lowest_standard_deviation)

NI ATO 0.647685142188375

In [235]:
def iterate_through_list_of_stocks(list_of_stocks = Header):

    with open('./all_pairs.csv', 'w') as file:    
        content_to_write = 'stock1' + ',' + 'stock2' + ',' + 'stdev' + '\n'
        file.write(content_to_write)
        
        for name in Header:
            if name != 'QuoteDate':
                stock1 = name

                previous_standard_deviation = 10000
                lowest_standard_deviation = 10000
                lowest_pair = ''

                loop_counter = 0
                for name in Header:
                    if name != stock1 and name != 'QuoteDate':
                        stock2 = name
                        standard_deviation = calculate_standard_deviation(stock1, stock2)
                        if standard_deviation < lowest_standard_deviation:
                            lowest_standard_deviation = standard_deviation
                            lowest_pair = stock2

                #print (stock1, lowest_pair, lowest_standard_deviation, sep =',')
                content_to_write = stock1 + ',' + lowest_pair + ',' + str(lowest_standard_deviation) + '\n'
                file.write(content_to_write)

In [236]:
Header = analyze_df.head(1)

iterate_through_list_of_stocks(Header)

In [237]:
df = pd.read_csv('./all_pairs.csv')

In [238]:
df.head()

  stock1 stock2     stdev
0   AMID    WMB  2.194098
1     AM    EQM  1.283977
2    ATO    OGS  0.542667
3    BPT   PBFX  2.093942
4   BHGE    WMB  1.727090

In [239]:
sorted_df_age_asc = df.sort_values(by='stdev')

In [240]:
sorted_df_age_asc

   stock1 stock2     stdev
2     ATO    OGS  0.542667
39    OGS    ATO  0.542667
34     NI    ATO  0.647685
37    NWN    OGS  0.665059
8     CNP     NI  0.676833
..    ...    ...       ...
12   CLNE    WMB  2.615216
48    SXE   AMID  3.172701
33   NEXT    CNP  3.881485
29  MARPS    OGS  4.130729
54   SDPI    SBR  4.435177

[62 rows x 3 columns]

In [257]:
performance_df.tail()

,QuoteDate,AMID,AM,ATO,BPT,BHGE,BKH,BSM,CNXM,CNP,...,SRLP,SMLP,SDPI,TCP,TRGP,TRP,VVC,WGP,WES,WMB
373,2018-09-20,0,0.296831,0.647175,-0.304872,-1.24734,0.995195,-0.16278,0.050485,0.322461,...,1.275039,0.31153,4.697978,-2.146041,-1.321429,-0.927252,0.098133,1.767445,1.618266,0.212836
374,2018-09-21,0.833333,-1.183826,0.750196,1.22323,1.355517,0.492692,0,-1.362264,0.107145,...,0.179863,-0.310564,0.961542,-3.289682,0.126684,-1.607865,0.210083,-1.828146,0,-1.309735
375,2018-09-24,-3.305787,-0.698835,-0.11701,0.453174,-0.182372,-0.929844,0,0.358069,-0.749201,...,-1.077205,-6.230521,5.714285,-1.480311,0.650632,0.02439,-0.055909,-3.910619,-3.206807,-1.147777
376,2018-09-25,-0.854695,-2.144772,-0.425988,2.406013,1.918399,-1.842999,0,-1.630998,-0.611073,...,-1.996368,-0.996679,-4.804802,-2.046043,0.772131,0.268233,-0.307649,-2.454776,-2.096009,-1.08853
377,2018-09-26,1.724136,-2.773976,-0.930482,-0.146842,1.045704,-1.408207,-0.543481,-0.207251,-1.446652,...,-0.18518,-2.684563,3.867507,-1.077026,-1.300782,-1.45914,0.014031,-0.629139,-1.012886,-0.586939

In [259]:
#only use the date range between Mar of 2017 and 2018 for identifying the best stock pairs

start_date = '2018-04-01'
end_date = '2018-09-30'
performance_df = performance_df[(performance_df['QuoteDate'] >= start_date) & (performance_df['QuoteDate'] <= end_date)]

In [260]:
performance_df.tail()

,QuoteDate,AMID,AM,ATO,BPT,BHGE,BKH,BSM,CNXM,CNP,...,SRLP,SMLP,SDPI,TCP,TRGP,TRP,VVC,WGP,WES,WMB
373,2018-09-20,0,0.296831,0.647175,-0.304872,-1.24734,0.995195,-0.16278,0.050485,0.322461,...,1.275039,0.31153,4.697978,-2.146041,-1.321429,-0.927252,0.098133,1.767445,1.618266,0.212836
374,2018-09-21,0.833333,-1.183826,0.750196,1.22323,1.355517,0.492692,0,-1.362264,0.107145,...,0.179863,-0.310564,0.961542,-3.289682,0.126684,-1.607865,0.210083,-1.828146,0,-1.309735
375,2018-09-24,-3.305787,-0.698835,-0.11701,0.453174,-0.182372,-0.929844,0,0.358069,-0.749201,...,-1.077205,-6.230521,5.714285,-1.480311,0.650632,0.02439,-0.055909,-3.910619,-3.206807,-1.147777
376,2018-09-25,-0.854695,-2.144772,-0.425988,2.406013,1.918399,-1.842999,0,-1.630998,-0.611073,...,-1.996368,-0.996679,-4.804802,-2.046043,0.772131,0.268233,-0.307649,-2.454776,-2.096009,-1.08853
377,2018-09-26,1.724136,-2.773976,-0.930482,-0.146842,1.045704,-1.408207,-0.543481,-0.207251,-1.446652,...,-0.18518,-2.684563,3.867507,-1.077026,-1.300782,-1.45914,0.014031,-0.629139,-1.012886,-0.586939

In [283]:
chosen_pairs_df = pd.DataFrame()

In [284]:
chosen_pairs_df['QuoteDate'] = performance_df['QuoteDate']

In [277]:
chosen_pairs_list =list [ 'NI' , 'WGP' ,'ATO' ,'CNP' , 'OGS', 'WES', 'SRE', 'NJR']

In [281]:
#'NI','OGS'
#'WGP', 'WES'
#'ATO', 'NI'
#'CNP', 'SRE'
#'CNP', 'NJR'

#chosen_pairs_df['NI'] = performance_df['NI']
#chosen_pairs_df['OGS'] = performance_df['OGS']

#chosen_pairs_df['WGP'] = performance_df['WGP']
#chosen_pairs_df['WES'] = performance_df['WES']

#chosen_pairs_df['ATO'] = performance_df['ATO']
#chosen_pairs_df['NI'] = performance_df['NI']

#chosen_pairs_df['CNP'] = performance_df['CNP']
#chosen_pairs_df['SRE'] = performance_df['SRE']

#chosen_pairs_df['CNP'] = performance_df['CNP']
#chosen_pairs_df['NJR'] = performance_df['NJR']

In [294]:
chosen_pairs_df.head()

     QuoteDate        NI       OGS squared_differences
253 2018-04-02 -0.250942 -0.711894            0.212477
254 2018-04-03  0.712788  1.327228            0.377537
255 2018-04-04  0.707746  0.150549            0.310468
256 2018-04-05  0.992143  1.623571            0.398701
257 2018-04-06 -0.736803  0.251472            0.976687

In [ ]:
#Ticker_1	Company_1	Ticker_2	Company_2	Data_Points	Sum_Squared_Distances	Standard_Deviation
#NI	NiSource Inc	OGS	ONE Gas, Inc.	250	0.1485	0.0244
#WGP	Western Gas Equity Partners LP	WES	Western Gas Partners, LP	250	0.1609	0.0254
#ATO	Atmos Energy Corporation	NI	NiSource Inc	250	0.171	0.0262
#CNP	CenterPoint Energy, Inc.	SRE	Sempra Energy	250	0.1759	0.0265
#CNP	CenterPoint Energy, Inc.	NJR	New Jersey Resources Corporation	250	0.1807	0.0269

In [320]:
chosen_pairs_df['NI'] = performance_df['NI']
chosen_pairs_df['OGS'] = performance_df['OGS']
chosen_pairs_df['squared_differences'] = ( chosen_pairs_df['NI'] - chosen_pairs_df['OGS'] ) ** 2
sum_total = chosen_pairs_df['squared_differences'].sum()
total_count = chosen_pairs_df['squared_differences'].count()

#two standard deviation threshold set
threshold = 2 * ((sum_total/total_count) ** 0.5 )
print (threshold)

2.793210069788073